<p id="notice"><%= notice %></p>

<%= link_to 'Back', campers_path %> |
<%= link_to 'Edit', edit_camper_path(@camper) %>

<p>
  <strong>CAMPER INFO</strong>
</p><p>
  Preferred name:
  <%= @camper.preferred_name %>
</p><p>
  DOB:
  <%= @camper.dob %>
</p><p>
  Pronouns:
  <%= @camper.pronouns %>
</p><p>
  Essay:
  <%= @camper.essay %>
</p><p>
  Notes:
  <%= @camper.notes %>
</p><p>
  Shirt size:
  <%= @camper.shirt_size %>
</p>

<p><strong>FAMILY INFO</strong></p>
<p>Guardian: <%= @camper.guardian_name %>

<p>Contact info:</p>

<table>
  <tbody>
    <tr>
      <td><%= @camper.primary_phone %></td>
      <td><%= @camper.secondary_phone %></td>
    </tr>
    <tr>
      <td><%= @camper.email %></td>
      <td><%= @camper.secondary_email %></td>
    <tr>
      <td><%= @camper.street_address %></td>
      <td><%= @camper.second_address_line %></td>
      </td><td>
        <%= @camper.city %>,
        <%= @camper.state %>
        <%= @camper.zip %>
      </td>
    </tr>
  </tbody>
</table>

<p><strong>INSTRUMENT INFO</strong></p>
<p>Assigned to: <%= @camper.instrument %></p>
<p>First choice: <%= @camper.instrument_first_choice %></p>
<p>First choice experience level: <%= @camper.instrument_first_choice_exp %></p>
<p>Secon choice: <%= @camper.instrument_second_choice %></p>
<p>Second choice experience level: <%= @camper.instrument_second_choice_exp %></p>
<p>Willing to play any instrument? (waitlist qualifier): <%= @camper.waitlist %></p>
<p>Additional experience: <%= @camper.additional_exp %></p>
<p>Bringing an instrument to camp? <%= @camper.bringing_instrument %></p>
<p>Personal instrument: <%= @camper.personal_instrument %></p>

<p><strong>MEDICAL INFO</strong></p>
<p>Dietary restrictions: <%= @camper.dietary_restrictions %></p>
<p>Food restrictions: <%= @camper.food_restrictions %></p>
<p>Additional restrictions: <%= @camper.additional_restrictions %></p>
<p>Medical condtions: <%= @camper.medical_conditions %></p>
<p>Mental health: <%= @camper.mental_health %></p>

<p><strong>SOCIOECONOMIC INFO </strong></p>
<p>Household income: <%= @camper.income %></p>
<p>Language spoken at home: <%= @camper.language %></p>
<p>Number of adults at home: <%= @camper.adults %></p>
<p>Number of children at home: <%= @camper.children %></p>

<p><strong>ACCEPTANCE CRITERIA</strong></p>
<p>Age group: <%= @camper.age_group %></p>
<p>Interested in volunteering? <%= @camper.volunteering %></p>
<p>Interested in purchasing merchandise? <%= @camper.merchandise %></p>
<p>Ethnicity: <%= @camper.ethnicity %></p>
<p>Receiving reduced fee lunch at school? <%= @camper.reduced_lunch %></p>
<p>Monetary commitment: <%= @camper.monetary_commitment %></p>
<p>Number of years attending camp: <%= @camper.years_attended %></p>
